<% content_for :title do %>Docker Containers<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="docker" data-view="Text" data-title="Docker Dashboard" data-text="" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpumater" data-view="Meter" data-title="CPU Used(%)" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="memmater" data-view="Meter" data-title="Memory Used(%)" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="containers" data-view="List" data-unordered="true" data-title="Running Container List"</div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="count" data-view="Number" data-title="Running Containers"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="allcontainers" data-view="Number" data-title="All Containers"></div>
    </li>
  </ul>
</div>
