<% content_for :title do %>Docker Containers<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="docker" data-view="Text" data-title="Docker Dashboard" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="countmater" data-view="Meter" data-title="Container Performance" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="containers" data-view="List" data-unordered="true" data-title="Running Container List"</div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="count" data-view="Number" data-title="Running Container"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="stopcontainers" data-view="List" data-unordered="true" data-title="All Container List"</div>
    </li>
  </ul>
</div>
